
.header__container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.card_photo{
  width:200px;
  height:270px;
  border-radius: 5px;
  box-shadow: 0px 0px 11px 3px #fffafa1a;
 }

 .card__container{
   display: flex;
   justify-content: center;
   flex-wrap: wrap;
 }
 .card {
   margin-top: 20px;
   margin-right: 40px;
 }

 .card--right {
  margin-right: 0px;
}


@media only screen and (max-width: 768px) {

  .card {
    margin-right: 0px;
  }

  .card__container{
    flex-direction: column;
    align-items: center;
    margin-bottom: 12rem;
  }

}




