body {
  
  background: url(./images/Back1.png) no-repeat;
  -moz-background-size: 100%; /* Firefox 3.6+ */
  -webkit-background-size: 100%; /* Safari 3.1+ и Chrome 4.0+ */
  -o-background-size: 100%; /* Opera 9.6+ */
  background-size: 100%; /* Современные браузеры */
   

  background-color: #292929;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

 .card_photo{
  width:150px;
  height:220px;
  border-radius: 5px;
 }

 .card__container{
   display: flex;
   justify-content: center;
   flex-wrap: wrap;

 }
 .card {
   margin-top: 20px;
   margin-right: 40px;
 }

 .card--right {
  margin-right: 0px;
}
